<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot" default="RR01" />

  <group ns="$(arg robot)" >

    <remap from="color/image_raw" to="l515/color/image_raw" />
    <remap from="color/camera_info" to="l515/color/camera_info" />
    <remap from="depth/image_raw" to="l515/aligned_depth_to_color/image_raw" />
    <remap from="depth/camera_info" to="l515/depth/camera_info" />
    <!-- <remap from="odom" to="kimera_vio_ros/odometry" /> -->
    <remap from="odom" to="t265/odom/sample" />
    
    <node respawn="false" name="fastsam_node" pkg="segment_track_ros" type="fastsam_node.py" output="screen">
        <rosparam command="load" file="$(find segment_track_ros)/cfg/default_fastsam.yaml" />
        <rosparam command="load" file="$(find segment_track_ros)/cfg/calib/$(arg robot).yaml" />
    </node>

    <node respawn="false" name="segment_track_node" pkg="segment_track_ros" type="segment_track_node.py" output="screen">
        <!-- <rosparam command="load" file="$(find segment_track_ros)/cfg/default_segment_track.yaml" /> -->
        <param name="visualize" value="true" />
        <rosparam command="load" file="$(find segment_track_ros)/cfg/calib/$(arg robot).yaml" />
    </node>
  
  </group>

</launch>
